<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.etp.cp.testpaper.mapper.TTestpaperCompanyWithCpMapper">

    <resultMap type="TTestpaperCompanyWithCp" id="TTestpaperCompanyResult">
        <result property="id"    column="id"    />
        <result property="sjid"    column="sjid"    />
        <result property="qyid"    column="qyid"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTTestpaperCompanyVo">
        select id, sjid, qyid, del_flag, create_by, create_time, update_by, update_time, remark from t_testpaper_company
    </sql>

    <select id="selectTTestpaperCompanyList" parameterType="TTestpaperCompanyWithCp" resultMap="TTestpaperCompanyResult">
        <include refid="selectTTestpaperCompanyVo"/>
        <where>
            <if test="sjid != null "> and sjid = #{sjid}</if>
            <if test="qyid != null "> and qyid = #{qyid}</if>
        </where>
    </select>

    <select id="selectTTestpaperCompanyById" parameterType="Long" resultMap="TTestpaperCompanyResult">
        <include refid="selectTTestpaperCompanyVo"/>
        where id = #{id}
    </select>

    <insert id="insertTTestpaperCompany" parameterType="TTestpaperCompanyWithCp" useGeneratedKeys="true" keyProperty="id">
        insert into t_testpaper_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sjid != null">sjid,</if>
            <if test="qyid != null">qyid,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sjid != null">#{sjid},</if>
            <if test="qyid != null">#{qyid},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTTestpaperCompany" parameterType="TTestpaperCompanyWithCp">
        update t_testpaper_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="sjid != null">sjid = #{sjid},</if>
            <if test="qyid != null">qyid = #{qyid},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTTestpaperCompanyById" parameterType="Long">
        delete from t_testpaper_company where id = #{id}
    </delete>

    <delete id="deleteTTestpaperCompanyByIds" parameterType="String">
        delete from t_testpaper_company where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="deleteTTestpaperCompanyBySjid" parameterType="Long">
        update t_testpaper_company
        set del_flag='1'
        where sjid = #{sjid} and qyid = #{qyid}
    </update>

    <update id="deleteTTestpaperCompanyBySjids" parameterType="String">
        update t_testpaper_company
        set del_flag='1' where qyid = #{qyid} and sjid in
        <foreach item="sjid" collection="sjids" open="(" separator="," close=")">
            #{sjid}
        </foreach>
    </update>
</mapper>
