.ql-editor {
  .ql-size-small {
    font-size: 10px;
  }
  .ql-size-large{
    font-size: 18px;
  }
  .ql-size-huge {
    font-size: 32px;
  }
  .ql-align-right {
    text-align: right;
  }
  .ql-align-left {
    text-align: left;
  }
  .ql-align-center {
    text-align: center;
  }
  .ql-align-justify {
    text-align: justify;
  }
}

