<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.admin.knowledge.mapper.KnowledgeCategoryMapper">

    <resultMap type="KnowledgeCategory" id="KnowledgeCategoryResult">
        <result property="catId"    column="cat_id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="sort"    column="sort"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectKnowledgeCategoryVo">
        select cat_id, name, parent_id, ancestors, sort, del_flag, create_by, create_time, update_by, update_time, remark from knowledge_category
    </sql>

    <select id="selectKnowledgeCategoryList" parameterType="KnowledgeCategory" resultMap="KnowledgeCategoryResult">
        <include refid="selectKnowledgeCategoryVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            and (del_flag = "0" or del_flag is null)
        </where>
    </select>

    <select id="selectKnowledgeCategoryByIds" parameterType="String" resultMap="KnowledgeCategoryResult">
        <include refid="selectKnowledgeCategoryVo"/>
        where cat_id in
        <foreach item="catId" collection="array" open="(" separator="," close=")">
            #{catId}
        </foreach>
        and (del_flag = "0" or del_flag is null)
    </select>

    <select id="selectKnowledgeCategoryById" parameterType="Long" resultMap="KnowledgeCategoryResult">
        <include refid="selectKnowledgeCategoryVo"/>
        where cat_id = #{catId} and (del_flag = "0" or del_flag is null)
    </select>
    <select id="checkName" resultType="Integer">
        select count(1) from knowledge_category where parent_id = #{parentId} and name = #{name}
    </select>

    <insert id="insertKnowledgeCategory" parameterType="KnowledgeCategory" useGeneratedKeys="true" keyProperty="catId">
        insert into knowledge_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="sort != null">sort,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="sort != null">#{sort},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateKnowledgeCategory" parameterType="KnowledgeCategory">
        update knowledge_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where cat_id = #{catId}
    </update>

    <delete id="deleteKnowledgeCategoryById" parameterType="Long">
        <!-- delete from knowledge_category where cat_id = #{catId} -->
        update knowledge_category set del_flag = "2" where cat_id = #{catId}
    </delete>

    <delete id="deleteKnowledgeCategoryByIds" parameterType="String">
        <!-- delete from knowledge_category where cat_id in
        <foreach item="catId" collection="array" open="(" separator="," close=")">
            #{catId}
        </foreach> -->
        update knowledge_category set del_flag = "2" where cat_id in
        <foreach item="catId" collection="array" open="(" separator="," close=")">
            #{catId}
        </foreach>
    </delete>
</mapper>
