<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.admin.certificate.mapper.CertificateGrantRecordMapper">

    <resultMap type="CertificateGrantRecord" id="CertificateGrantRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="tempId"    column="temp_id"    />
        <result property="certId"    column="cert_id"    />
        <result property="certName"    column="cert_name"    />
        <result property="certFile"    column="cert_file"    />
        <result property="previewFile"    column="preview_file"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="grantType"    column="grant_type"    />
        <result property="grantDisplay"    column="grant_display"    />
        <result property="userId"    column="user_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="nickName"    column="nick_name"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectCertificateGrantRecordVo">
        select r.record_id, r.temp_id,  r.cert_id, r.cert_name, r.cert_file, r.preview_file,
               r.expire_time, r.grant_type, r.grant_display, r.user_id, r.status, r.create_by,
               r.create_time, r.update_by, r.update_time , t.content,
               u.nick_name
        from certificate_grant_record r
                 left join certificate_template t on r.temp_id = t.temp_id
                 left join sys_user u on u.user_id = r.user_id
    </sql>

    <select id="selectCertificateGrantRecordList" parameterType="CertificateGrantRecord" resultMap="CertificateGrantRecordResult">
        <include refid="selectCertificateGrantRecordVo"/>
        <where>
            <if test="tempId != null "> and r.temp_id = #{tempId}</if>
            <if test="certId != null  and certId != ''"> and r.cert_id = #{certId}</if>
            <if test="certName != null  and certName != ''"> and r.cert_name like concat('%', #{certName}, '%')</if>
            <if test="expireTime != null "> and r.expire_time = #{expireTime}</if>
            <if test="userId != null "> and r.user_id = #{userId}</if>
            <if test="status != null "> and r.status = #{status}</if>
            <!-- 数据权限控制 -->
            <if test="params.etpDataScope != null and params.etpDataScope != ''">${params.etpDataScope}</if>
        </where>
        order by r.update_time desc
    </select>

    <select id="selectCertificateGrantRecordById" parameterType="Long" resultMap="CertificateGrantRecordResult">
        <include refid="selectCertificateGrantRecordVo"/>
        where r.record_id = #{recordId}
    </select>

    <insert id="insertCertificateGrantRecord" parameterType="CertificateGrantRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into certificate_grant_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tempId != null">temp_id,</if>
            <if test="certId != null">cert_id,</if>
            <if test="certName != null">cert_name,</if>
            <if test="certFile != null">cert_file,</if>
            <if test="previewFile != null">preview_file,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="grantType != null">grant_type,</if>
            <if test="grantDisplay != null">grant_display,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>

            /*数据权限字段*/
            <if test="createUserId != null">create_user_id,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="pubFlag != null">pub_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tempId != null">#{tempId},</if>
            <if test="certId != null">#{certId},</if>
            <if test="certName != null">#{certName},</if>
            <if test="certFile != null">#{certFile},</if>
            <if test="previewFile != null">#{previewFile},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="grantType != null">#{grantType},</if>
            <if test="grantDisplay != null">#{grantDisplay},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>

            /*数据权限字段*/
            <if test="createUserId != null">#{createUserId},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="pubFlag != null">#{pubFlag},</if>
        </trim>
    </insert>

    <update id="updateCertificateGrantRecord" parameterType="CertificateGrantRecord">
        update certificate_grant_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="tempId != null">temp_id = #{tempId},</if>
            <if test="certId != null">cert_id = #{certId},</if>
            <if test="certName != null">cert_name = #{certName},</if>
            <if test="certFile != null">cert_file = #{certFile},</if>
            <if test="previewFile != null">preview_file = #{previewFile},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="grantType != null">grant_type = #{grantType},</if>
            <if test="grantDisplay != null">grant_display = #{grantDisplay},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteCertificateGrantRecordById" parameterType="Long">
        delete from certificate_grant_record where record_id = #{recordId}
    </delete>

    <update id="deleteCertificateGrantRecordByIds" parameterType="String">
        update  certificate_grant_record set status='1' where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </update>

    <insert id="submitPublish" parameterType="CertificateGrantRecord">
        insert into certificate_grant_record (temp_id,cert_id,cert_name,expire_time,grant_type,grant_display,user_id,status,create_by,update_by)
        values
        <foreach collection="list" index="index" item="record" separator=",">
            (#{record.tempId}, #{record.certId},#{record.certName},#{record.expireTime},
            #{record.grantType},#{record.grantDisplay},#{record.userId},#{record.status},#{record.createBy},#{record.updateBy})
        </foreach>
    </insert>

    <update id="updateRecords">

        <foreach collection="list" index="index" item="record" separator=";">
            update certificate_grant_record
            <set>
                cert_file = #{record.certFile},preview_file = #{record.previewFile},status='99'
            </set>
            where record_id = #{record.recordId}
        </foreach>

    </update>

</mapper>
