<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.etp.up.curriculum.mapper.TCurriculumSubjectMapper">

    <resultMap type="TCurriculumSubject" id="TCurriculumSubjectResult">
        <result property="id"    column="id"    />
        <result property="kcid"    column="kcid"    />
        <result property="xyid"    column="xyid"    />
        <result property="stid"    column="stid"    />
        <result property="xyda"    column="xyda"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTCurriculumSubjectVo">
        select id, kcid, xyid, stid, xyda, del_flag, create_by, create_time, update_by, update_time from t_curriculum_subject
    </sql>

    <select id="selectTCurriculumSubjectList" parameterType="TCurriculumSubject" resultMap="TCurriculumSubjectResult">
        <include refid="selectTCurriculumSubjectVo"/>
        <where>
            <if test="kcid != null "> and kcid = #{kcid}</if>
            <if test="xyid != null "> and xyid = #{xyid}</if>
            <if test="stid != null "> and stid = #{stid}</if>
        </where>
    </select>

    <select id="selectTCurriculumSubjectById" parameterType="Long" resultMap="TCurriculumSubjectResult">
        <include refid="selectTCurriculumSubjectVo"/>
        where kcid = #{kcid} and stid = #{stid} and xyid = #{xyid} and del_flag = '0'
    </select>

    <insert id="insertTCurriculumSubject" parameterType="TCurriculumSubject">
        insert into t_curriculum_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="kcid != null">kcid,</if>
            <if test="xyid != null">xyid,</if>
            <if test="stid != null">stid,</if>
            <if test="xyda != null">xyda,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="kcid != null">#{kcid},</if>
            <if test="xyid != null">#{xyid},</if>
            <if test="stid != null">#{stid},</if>
            <if test="xyda != null">#{xyda},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTCurriculumSubject" parameterType="TCurriculumSubject">
        update t_curriculum_subject
        <trim prefix="SET" suffixOverrides=",">
            <if test="kcid != null">kcid = #{kcid},</if>
            <if test="xyid != null">xyid = #{xyid},</if>
            <if test="stid != null">stid = #{stid},</if>
            <if test="xyda != null">xyda = #{xyda},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCurriculumSubjectById" parameterType="Long">
        delete from t_curriculum_subject where id = #{id}
    </delete>

    <delete id="deleteTCurriculumSubjectByIds" parameterType="String">
        delete from t_curriculum_subject where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
