<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.admin.question.mapper.QuestionMapper">

    <resultMap type="Question" id="QuestionResult">
        <result property="quId"    column="qu_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="version"    column="version"    />
        <result property="content"    column="content"    />
        <result property="display"    column="display"    />
        <result property="type"    column="type"    />
        <result property="level"    column="level"    />
        <result property="analysis"    column="analysis"    />
        <result property="tarinFlag"    column="tarin_flag"    />
        <result property="examFlag"    column="exam_flag"    />
        <result property="status"    column="status"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="answers"    column="answers"   typeHandler="cn.jkingtools.ibatis.type.JsonTypeHandler"  />
        <result property="children"    column="children"   typeHandler="cn.jkingtools.ibatis.type.JsonTypeHandler"  />
        <result property="hashKey"    column="hash_key"    />
    </resultMap>

    <sql id="selectQuestionVo">
        select qu_id, parent_id, version, content, display, type, level,
               analysis, tarin_flag, exam_flag, status, expire_time, user_id, dept_id,
               del_flag, create_by, create_time, update_by, update_time, remark ,answers, children,
               hash_key
        from question qu
    </sql>

    <select id="selectQuestionList" parameterType="QuestionReqQuery" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        <where>
            <if test="content != null  and content != ''"> and display like concat('%', #{content}, '%')</if>
            <if test="tarinFlag != null "> and tarin_flag = #{tarinFlag}</if>
            <if test="examFlag != null "> and exam_flag = #{examFlag}</if>
            <if test="type != null  and type.size()>0"> and type in
                <foreach item="type" collection="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="level != null  and level.size()>0"> and level in
                <foreach item="level" collection="level" open="(" separator="," close=")">
                    #{level}
                </foreach>
            </if>
            <!-- 如果有分类，判断是否位于分类内 -->
            <if test="categoryId != null  and categoryId!='' and categoryId != '0' and categoryId != '-1'"> and qu.qu_id in (
                select qic.obj_id from question_inter_category qic, question_category qc
                where qic.cat_id = qc.cat_id and (qic.cat_id = #{categoryId} or find_in_set(#{categoryId}, qc.ancestors))
                )
            </if>
            <!-- 未分类 -->
            <if test="categoryId == '-1'">
                and not exists(select 1 from question_inter_category qic where qu.qu_id = qic.obj_id)
            </if>
            <!-- 排除传过来的 quIds -->
            <if test="quIds != null  and quIds.size()>0"> and qu_id not in
                <foreach item="quId" collection="quIds" open="(" separator="," close=")">
                    #{quId}
                </foreach>
            </if>
            and (del_flag="0" or del_flag is null)
            <!-- 数据权限控制 -->
            <if test="params.etpDataScope != null and params.etpDataScope != ''">${params.etpDataScope}</if>

        </where>
        order by create_time desc
    </select>

    <!--按难度等级统计题目数量，取字典 question_level-->
    <select id="factQuery" parameterType="QuestionReqQuery" resultType="FactByLevel">
        select count(1) as count, level from question qu
        <where>
            <if test="tarinFlag != null "> and tarin_flag = #{tarinFlag}</if>
            <if test="examFlag != null "> and exam_flag = #{examFlag}</if>
            <if test="type != null  and type.size()>0"> and type in
                <foreach item="type" collection="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <!-- 如果有分类，判断是否位于分类内 -->
            <if test="categoryId != null  and categoryId!='' and categoryId != '0'"> and qu.qu_id in (
                select qic.obj_id from question_inter_category qic, question_category qc
                where qic.cat_id = qc.cat_id and (qic.cat_id = #{categoryId} or find_in_set(#{categoryId}, qc.ancestors))
                )
            </if>
            and (del_flag="0" or del_flag is null)
        </where>
        group by level
    </select>

    <select id="randomQuery" parameterType="QuestionReqQuery" resultMap="QuestionResult">
        select qu_id, parent_id, version, content, display, type, level,
        analysis, tarin_flag, exam_flag, status, expire_time, user_id, dept_id,
        del_flag, create_by, create_time, update_by, update_time, remark ,answers, children,
        round(rand() * 10000, 0) od
        from question qu
        <where>
            <if test="content != null  and content != ''"> and display like concat('%', #{content}, '%')</if>
            <if test="tarinFlag != null "> and tarin_flag = #{tarinFlag}</if>
            <if test="examFlag != null "> and exam_flag = #{examFlag}</if>
            <if test="type != null  and type.size()>0"> and type in
                <foreach item="type" collection="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="level != null  and level.size()>0"> and level in
                <foreach item="level" collection="level" open="(" separator="," close=")">
                    #{level}
                </foreach>
            </if>
            <!-- 如果有分类，判断是否位于分类内 -->
            <if test="categoryId != null  and categoryId!='' and categoryId != '0'"> and qu.qu_id in (
                select qic.obj_id from question_inter_category qic, question_category qc
                where qic.cat_id = qc.cat_id and (qic.cat_id = #{categoryId} or find_in_set( #{categoryId}, qc.ancestors))
                )
            </if>
            <if test="quIds != null  and quIds.size()>0 "> and qu.qu_id not in
                <foreach item="quId" collection="quIds" open="(" separator="," close=")">
                    #{quId}
                </foreach>
            </if>
            and (del_flag="0" or del_flag is null)
        </where>
        order by od
        <if test="n != null  and n != ''">
            limit #{n}
        </if>
        <!-- 数据权限控制 -->
        <if test="params.etpDataScope != null and params.etpDataScope != ''">${params.etpDataScope}</if>
    </select>

    <select id="selectQuestionByIds" parameterType="String" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where qu_id in
        <foreach item="quId" collection="array" open="(" separator="," close=")">
            #{quId}
        </foreach>
        and (del_flag="0" or del_flag is null)
        order by create_time desc
    </select>

    <select id="selectQuestionAndChildrenById" parameterType="Long" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where qu_id = #{quId}  and (del_flag="0" or del_flag is null)
    </select>

    <select id="selectQuestionById" parameterType="Long" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where qu_id = #{quId} and (del_flag="0" or del_flag is null)
    </select>

    <select id="selectQuestionChildrenByIds" parameterType="String" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where parent_id in
        <foreach item="parentId" collection="array" open="(" separator="," close=")">
            #{parentId}
        </foreach>
        and (del_flag="0" or del_flag is null)
    </select>

    <insert id="insertQuestion" parameterType="Question" useGeneratedKeys="true" keyProperty="quId">
        insert into question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quId != null">qu_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="version != null">version,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="display != null">display,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="analysis != null">analysis,</if>
            <if test="tarinFlag != null">tarin_flag,</if>
            <if test="examFlag != null">exam_flag,</if>
            <if test="status != null">status,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="answers != null and answers != ''">answers,</if>
            <if test="children != null and children != ''">children,</if>
            <if test="hashKey != null and hashKey != ''">hash_key,</if>

            /*数据权限字段*/
            <if test="createUserId != null">create_user_id,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="pubFlag != null">pub_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quId != null">#{quId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="version != null">#{version},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="display != null">#{display},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="tarinFlag != null">#{tarinFlag},</if>
            <if test="examFlag != null">#{examFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="answers != null and answers != ''">#{answers, typeHandler=cn.jkingtools.ibatis.type.JsonTypeHandler},</if>
            <if test="children != null and children != ''">#{children, typeHandler=cn.jkingtools.ibatis.type.JsonTypeHandler},</if>
            <if test="hashKey != null and hashKey != ''">hash_key,</if>

            /*数据权限字段*/
            <if test="createUserId != null">#{createUserId},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="pubFlag != null">#{pubFlag},</if>
         </trim>
    </insert>

    <insert id="batchInsertQuestion" parameterType="java.util.List">
        insert into question (qu_id, parent_id, version, content, display, type, level, analysis,
                              tarin_flag, exam_flag, status, expire_time, sort,
                              user_id, dept_id,
                              del_flag, create_by, create_time, remark, answers, children, hash_key)
        values
        <foreach collection="list" item="qu" index="index" separator=",">
            (#{qu.quId}, #{qu.parentId}, #{qu.version}, #{qu.content}, #{qu.display}, #{qu.type}, #{qu.level}, #{qu.analysis},
             #{qu.tarinFlag}, #{qu.examFlag}, #{qu.status}, #{qu.expireTime}, #{qu.sort},
             #{qu.userId}, #{qu.deptId},
             #{qu.delFlag}, #{qu.createBy}, #{qu.createTime}, #{qu.remark},
             #{qu.answers, typeHandler=cn.jkingtools.ibatis.type.JsonTypeHandler},
             #{qu.children, typeHandler=cn.jkingtools.ibatis.type.JsonTypeHandler}, #{qu.hash_key})
        </foreach>
    </insert>

    <update id="updateQuestion" parameterType="Question">
        update question
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null">version = #{version},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="display != null">display = #{display},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="tarinFlag != null">tarin_flag = #{tarinFlag},</if>
            <if test="examFlag != null">exam_flag = #{examFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="answers != null and answers != ''">answers = #{answers, typeHandler=cn.jkingtools.ibatis.type.JsonTypeHandler},</if>
            <if test="children != null and children != ''">children = #{children, typeHandler=cn.jkingtools.ibatis.type.JsonTypeHandler},</if>
            <if test="hashKey != null and hashKey != ''">hash_key = #{hashKey},</if>
        </trim>
        where qu_id = #{quId}
    </update>

    <update id="logicalDeleteQuestionByIds" parameterType="String">
        update question set del_flag="2" where qu_id in
        <foreach item="quId" collection="array" open="(" separator="," close=")">
            #{quId}
        </foreach>
    </update>

    <delete id="deleteQuestionById" parameterType="Long">
        delete from question where qu_id = #{quId}
--                                 <!-- or parent_id = #{quId} -->
    </delete>

    <delete id="deleteQuestionByIds" parameterType="String">
        delete from question where qu_id in
        <foreach item="quId" collection="array" open="(" separator="," close=")">
            #{quId}
        </foreach>
<!--                                or-->
<!--        parent_id in-->
<!--        <foreach item="parentId" collection="array" open="(" separator="," close=")">-->
<!--            #{parentId}-->
<!--        </foreach>-->
    </delete>

<!--    <delete id="deleteQuestionByParentId" parameterType="Long">-->
<!--        delete from question where parent_id = #{parentId}-->
<!--    </delete>-->

<!--    <delete id="deleteQuestionByParentIds" parameterType="String">-->
<!--        delete from question where parent_id in-->
<!--        <foreach item="parentId" collection="array" open="(" separator="," close=")">-->
<!--            #{parentId}-->
<!--        </foreach>-->
<!--    </delete>-->


    <select id="selectAll" resultType="com.sinosoft.admin.question.domain.QuestionForOld">
        select s.id, s.tg, s.tg_displat tgDisplat, s.lx, s.xx, s.da, s.jx, s.sflx, s.sfks, s.del_flag as delFlag,
         s.create_by as createBy, s.create_time as createTime, s.update_by as updateBy, s.update_time as updateTime,
         s.remark,s.level,
                s.categoryId
        from t_subject s where (del_flag = '0' or del_flag is null)
    </select>
    <select id="selectCategoryAll" resultType="com.sinosoft.admin.question.domain.QuestionForOldCategory">
        select c.id, c.parent_id as parentId, c.ancestors, c.name, c.del_flag as delFlag,
         c.create_by as createBy, c.create_time as createTime, c.update_by as updateBy,
        c.update_time updateTime, c.sfxs
        from t_category c where (del_flag = '0' or del_flag is null)
    </select>


    <insert id="insertOldCategory" parameterType="com.sinosoft.admin.category.domain.Category" useGeneratedKeys="true" keyProperty="catId">
        insert into question_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catId != null">cat_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="name != null">name,</if>
            <if test="sort != null">sort,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catId != null">#{catId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="name != null">#{name},</if>
            <if test="sort != null">#{sort},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

</mapper>
